
@import 'tailwindcss';


@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 0px;
    --breakpoint-sm: 375px;
    --breakpoint-md: 800px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1400px;
}

 